FIREBASE_API_KEY=your_api_key_here
FIREBASE_WEB_APP_ID=1:YOUR_SENDER_ID:web:YOUR_WEB_APP_ID
FIREBASE_ANDROID_APP_ID=1:YOUR_SENDER_ID:android:YOUR_ANDROID_APP_ID
FIREBASE_IOS_APP_ID=1:YOUR_SENDER_ID:ios:YOUR_IOS_APP_ID
FIREBASE_MESSAGING_SENDER_ID=YOUR_SENDER_ID
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_AUTH_DOMAIN=your-project-id.firebaseapp.com
FIREBASE_STORAGE_BUCKET=your-project-id.firebasestorage.app
FIREBASE_IOS_BUNDLE_ID=com.example.yourApp
